body {
  font-family:"Microsoft YaHei", "微软雅黑",'SimSun', sans-serif;
}


.container {
    max-width: 100%;
}

.navbar-expand-lg .navbar-collapse {
  height: 10vh;
}


@media (min-width:576px){

  .navbar {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0rem 1rem;

  width: 100%; /* 長さ */
  position: fixed; /* ヘッダーを固定(これが重要) */
  top: 0; /* 固定する位置 */
  left: 0; /* 固定する位置 */
  right: 0;  /* 固定する位置 */
  background-color: #2E82C0;
  height: 10vh;

  letter-spacing: 2px;
  }


  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
      height: 10vh;
      /*padding-top: 30%;*/
      font-weight: bold;
  }

  .logo-top {
    width: 10px;
  }



}/*min-width:576px end*/




@media (min-width:768px){




  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
      height: 10vh;
      /*padding-top: 30%;*/
      font-weight: bold;
  }

  .logo-top {
    width: 10px;
  }

}




@media (min-width:992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
      height: 10vh;
      padding-top: 30%;
      font-weight: bold;
  }

}




@media (min-width:1200px){




}



.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 10vh;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 1rem;

width: 100%; /* 長さ */
position: fixed; /* ヘッダーを固定(これが重要) */
top: 0; /* 固定する位置 */
left: 0; /* 固定する位置 */
right: 0;  /* 固定する位置 */
background-color: #2E82C0;
height: 10vh;

letter-spacing: 2px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #212529;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.8);
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #212529;
}

/*
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
    background-color: #007bff;
}
*/

.nav-item {
  vertical-align:middle;
}


.h3, h3 {
    font-size: 2.75rem;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
    text-align: center;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 30vh;
    padding-bottom: 30vh;

    height: 90vh;
}

.row-color1, .li-color1:focus, .li-color1:hover {
    background-color: #ffb6b9;
}


.row-color2, .li-color2:focus, .li-color2:hover {
    background: #61c0bf;
}

.row-color3, .li-color3:focus, .li-color3:hover {
    background: #bbded6;
}

.row-color4 , .li-color4:focus, .li-color4:hover{
    background: #fae3d9;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.padding-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.featurette-heading {
   text-align: center;
   letter-spacing: .5rem;
   font-size: 3rem;
   font-weight: bold;
}


.animated:hover {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}


.footer {
  color: #000;
  background-color: #fae3d9;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top-mar {
  margin-top: 10px;
}

.btn-send {
  background-color: #2E82C0;
}
