body {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


.container {
    max-width: 100%;
}

.navbar-expand-lg .navbar-collapse {
  height: 10vh;
}


@media (min-width:576px){



}/*min-width:576px end*/



/***********   start phone  **************/
@media (max-width:768px){

    .head-logo-div{
        width: 25%;
        text-align: center;
    }

    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0rem 0rem;

    width: 100%; /* 長さ */
    position: none; /* ヘッダーを固定(これが重要) */
    top: 0; /* 固定する位置 */
    left: 0; /* 固定する位置 */
    right: 0;  /* 固定する位置 */
    background-color: #fff;
    height: 6vh;

    letter-spacing: 2px;
    }

    .carousel-control-next, .carousel-control-prev {
        top: 40vh;
    }

    .navbar-nav {
        width: 100%;
        height: 100%;
    }

    .nav-item-logo {
        width: 100%;
        text-align: center;
        display: table;
        height: 200%;


        border-left: 1px solid rgba(170, 170, 170, 0.30);
        border-bottom: 1px solid rgba(170, 170, 170, 0.30);
    }

    .nav-item {
        width: 100%;
        text-align: center;
        display: table;
        height: 100%;


        border-left: 1px solid rgba(170, 170, 170, 0.30);
        border-bottom: 1px solid rgba(170, 170, 170, 0.30);
    }

    .nav-link {
        display: table-cell;
        vertical-align: middle;
    }

    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
    }


    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .collapse:not(.show) {
        display:block;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        height: 5vh;
    }

    .logo-top {
      width: 100px;
      margin: auto;
    }



    .carousel-item {
      height: 40vh;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-top: 45vh;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 3vh;
        padding-bottom: 3vh;

    }

    .padding-10-left {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 3vh;
    }

    .padding-10-right {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 3vh;
    }

    .featurette-heading {
       text-align: center;
       letter-spacing: .5rem;
       font-size: 2rem;
    }

    .h2, h2 {
      font-size: 1.5rem;
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 20px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #000;
        text-align: center;
    }

    .h3, h3 {
        font-size: 2.75rem;
    }

    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        max-width: 80%;
    }

    .lead {
        line-height:40px;
        font-size:1rem;
    }

    .footer {
      font-size: 0.8rem;
    }

    .img-fluid {
      max-width: 33%;
      height: auto;
      opacity: 0.66;
    }

    .phone-center {
      text-align: center;
      vertical-align: middle;
    }



}/***********   end phone  **************/

/***********   start PC  **************/
@media (min-width:769px){

    .head-logo-div{
        width: 25%;
        text-align: center;
    }

    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0rem 0rem;

    width: 100%; /* 長さ */
    position: fixed; /* ヘッダーを固定(これが重要) */
    top: 0; /* 固定する位置 */
    left: 0; /* 固定する位置 */
    right: 0;  /* 固定する位置 */
    background-color: #fff;
    height: 10vh;
    min-height: 90px;

    letter-spacing: 2px;
    }

    .navbar-nav {
        width: 100%;
        height: 100%;
    }

    .nav-item-logo {
        width: 25%;
        text-align: center;
        display: table;
        height: 100%;


        border-left: 1px solid rgba(170, 170, 170, 0.30);
        border-bottom: 1px solid rgba(170, 170, 170, 0.30);
    }

    .nav-item {
        width: 12.5%;
        text-align: center;
        display: table;
        height: 100%;


        border-left: 1px solid rgba(170, 170, 170, 0.30);
        border-bottom: 1px solid rgba(170, 170, 170, 0.30);
    }

    .nav-link {
        display: table-cell;
        vertical-align: middle;
    }

    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }


    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .collapse:not(.show) {
        display:block;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        height: 5vh;
    }

    .logo-top {
      width: auto;
      margin: auto;
    }



    .carousel-item {
      height: 65vh;
      min-height: 650px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-top: 10vh;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 10vh;
        padding-bottom: 10vh;

    }

    .featurette-heading {
       text-align: center;
       letter-spacing: .5rem;
       font-size: 3rem;
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 20px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #000;
        text-align: center;
    }

    .h3, h3 {
        font-size: 2.75rem;
    }

    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        max-width: 80%;
    }

    .lead {
        line-height:40px
    }



    .padding-10-left {
        padding-left: 15%;
        padding-right: 5%;
    }

    .padding-10-right {
        padding-left: 0%;
        padding-right: 15%;
    }


    .img-fluid {
        max-width: 66%;
        height: auto;
        opacity: 0.66;
    }



    .phone-center {
      text-align: center;
      vertical-align: middle;
    }




}
/***********   end PC  **************/



@media (min-width:992px){

}




@media (min-width:1200px){




}

.navbar-brand {
    margin: auto;
}

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.navbar-dark .navbar-nav .nav-link {
    color: #212529;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:#212529;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #212529;
}

/*
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
    background-color: #007bff;
}
*/

.nav-item {
  vertical-align:middle;
}


.f-color-1{
    color: #F4A11E;
}

.f-color-2{
    color: #B2C839;
}

.f-color-3{
    color: #E0476E;
}

.f-color-4{
    color: #2D7AE4;
}

.f-color-5{
    color: #03739A;
}

.f-color-6{
    color: #67BD96;
}


/****   ***********************************/

.border-1-1 {
    padding-top: 30px;
    border-left: solid 3px #F4A11E;
    border-top: solid 3px #F4A11E;
}

.border-1-2 {
    border-right: solid 3px #F4A11E;
    border-bottom: solid 3px #F4A11E;
    padding-bottom: 30px;
    padding-right: 30px;
}


.border-2-1 {
    padding-top: 30px;
    border-left: solid 3px #E0476E;
    border-top: solid 3px #E0476E;
}

.border-2-2 {
    border-right: solid 3px #E0476E;
    border-bottom: solid 3px #E0476E;
    padding-bottom: 30px;
    padding-right: 30px;
}


.border-3-1 {
    padding-top: 30px;
    border-left: solid 3px #2D7AE4;
    border-top: solid 3px #2D7AE4;
}

.border-3-2 {
    border-right: solid 3px #2D7AE4;
    border-bottom: solid 3px #2D7AE4;
    padding-bottom: 30px;
    padding-right: 30px;
}


.border-4-1 {
    padding-top: 30px;
    border-left: solid 3px #E0476E;
    border-top: solid 3px #E0476E;
}

.border-4-2 {
    border-right: solid 3px #E0476E;
    border-bottom: solid 3px #E0476E;
    padding-bottom: 30px;
    padding-right: 30px;
}


.border-5-1 {
    padding-top: 30px;
    border-left: solid 3px #03739A;
    border-top: solid 3px #03739A;
}

.border-5-2 {
    border-right: solid 3px #03739A;
    border-bottom: solid 3px #03739A;
    padding-bottom: 30px;
    padding-right: 30px;
}


.border-l-3 {
    border-left: solid 10px #E0476E;
}

.border-l-4 {
    border-left: solid 10px #2D7AE4;
}

.border-l-5 {
    border-left: solid 10px #03739A;
}

.border-l-6 {
    border-left: solid 10px #67BD96;
}

/****   ***********************************/

.underline-1:before {
    background: #F4A11E;
}

.underline-2:before {
    background: #B2C839;
}

.underline-3:before{
    background: #E0476E;
}

.underline-4:before {
    background: #2D7AE4;
}

.underline-5:before {
    background: #03739A;
}

.underline-6:before {
    background: #67BD96;
}



.container {
    padding-right: 0px;
    padding-left: 0px;
}

.mag-10-left {
    margin-left: 15%;
    margin-right: 5%;
}


.animated:hover {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}


.footer {
  color: #000;
  /*background-color: #fae3d9;*/
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border-top: 1px solid rgba(170, 170, 170, 0.80);
}

.top-mar {
  margin-top: 10px;
}

.btn-send {
  background-color: #2E82C0;
  width: 200px;
  color: #fff;
}

.color-gray {
    color: rgba(170, 170, 170, 0.50);
}

.hr-global {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

.svg-m-size {
    max-width: 400px;
}

.padding-top-info{
    padding-top:10vh;
}

.form-group-btn-outer {
    text-align: center;
}

.footer-inner{

    display: flex;

    flex-direction: row; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */

    margin-top: 10px;
    margin-bottom: 10px;
}
